@model AuctionHouse.Models.Item

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <h2>Details</h2>

        <h4>@Html.DisplayFor(model => model.Name)</h4>
        <hr />
        <div class="row">
            <div class="col-sm-6">
                <dl class="row">
                    <dt class="col-sm-3">
                        Seller:
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Seller1.Name)
                    </dd>

                    <dt class="col-sm-3">
                        Item name:
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Description):
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                </dl>
            </div>

            <div class="col-sm-6">
                <img src="https://via.placeholder.com/175" class="d-block mx-auto" />
            </div>
        </div>
        <div class="row">

        </div>
        <p>
            @Html.ActionLink("Return to listings", "Index", "Items", null, new { @class = "btn btn-secondary" })
        </p>
</div>