@model IEnumerable<AuctionHouse.Models.Bid>

@{
    ViewBag.Title = "Reginald's Ancient Antiquities Auction House";
}

<h2 class="special-title" style="text-align: center;">Reginald's Ancient Antiquities Auction House</h2>

<br />

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Make a listing</h3>
            <label>
                Have a piece of valuable history to sell? Click here to create a listing for it.
            </label>
            @Html.ActionLink("Create a listing", "Create", "Home", null, new { @class = "btn btn-secondary" })
        </div>
        <div class="col-sm-4">
            <h3>View current listings</h3>
            <label>
                Not sure what to bid on? Have a look at the items currently up for auction.
            </label>
            @Html.ActionLink("View listings", "Listings", "Home", null, new { @class = "btn btn-secondary" })
        </div>
        <div class="col-sm-4">
            <h3>Place a bid</h3>
            <label>
                Own a piece of history today. It all starts with making a bid.
            </label>
            @Html.ActionLink("Bid on a item", "PlaceBid", "Home", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
</div>

<br />
<br />

<h5>Top ten most recent bids</h5>
<table class="table">
    <tr>
        <th>
            Bidder
        </th>
        <th>
            Item
        </th>
        <th>
            Bid amount
        </th>
        <th>
            Bid placed on
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Buyer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item.Name)
        </td>
        <td>
            @string.Format("{0:C}", item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>
    </tr>
}

</table>
